@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

:root {
     /* LIGHT*/ 
    /* --color-bg-canvas: #F0F2F5; */
    --color-bg-root: #f0f0f0;
    --color-bg-canvas: #fbfbfe; 
    --color-bg-surface: #ebebeb;
    --color-bg-inverse: #808080;
    --color-bg-gray-surface: color-mix(var(--color-gray-600) 20%, transparent);

    --color-border-color: #aaaaaa;
    --color-border-color-inverse: #F5F5F5;
    --color-bg-theme-color: #FFFFFF;
    --color-button-color: #1A1A1A;

    --color-primary-text: #1A1A1A;
    --color-secondary-text: #444444;
    --color-primary-text-inverse: #f5f5f5;
    --color-tertiary-text: #595959;
    --color-empty-state: #808080;
    --icon-filter: invert(100%);
    

    /* DARK 
    --color-bg-canvas: #222222;
    --color-bg-surface: #353434;
    --color-bg-inverse: #F5F5F5;
    --color-bg-gray-surface: color-mix(var(--color-gray-300) 20%, transparent);

    --color-border-color: #595959;
    --color-border-color-inverse: #F5F5F5;
    --color-bg-theme-color: #1A1A1A;
    --color-button-color: #f5f5f5;

    --color-primary-text: #F5F5F5;
    --color-secondary-text: #d1d5db;
    --color-primary-text-inverse: #1A1A1A;
    --color-tertiary-text: #9E9E9E;
    --color-empty-state: #808080;
    --icon-filter: invert(0)
    */

    --background: oklch(1 0 0);

    --foreground: oklch(0.145 0 0);

    --card: oklch(1 0 0);

    --card-foreground: oklch(0.145 0 0);

    --popover: oklch(1 0 0);

    --popover-foreground: oklch(0.145 0 0);

    --primary: oklch(0.205 0 0);

    --primary-foreground: oklch(0.985 0 0);

    --secondary: oklch(0.97 0 0);

    --secondary-foreground: oklch(0.205 0 0);

    --muted: oklch(0.97 0 0);

    --muted-foreground: oklch(0.556 0 0);

    --accent: oklch(0.97 0 0);

    --accent-foreground: oklch(0.205 0 0);

    --destructive: oklch(0.577 0.245 27.325);

    --border: oklch(0.922 0 0);

    --input: oklch(0.922 0 0);

    --ring: oklch(0.708 0 0);

    --chart-1: oklch(0.87 0 0);

    --chart-2: oklch(0.556 0 0);

    --chart-3: oklch(0.439 0 0);

    --chart-4: oklch(0.371 0 0);

    --chart-5: oklch(0.269 0 0);

    --radius: 0.625rem;

    --sidebar: oklch(0.985 0 0);

    --sidebar-foreground: oklch(0.145 0 0);

    --sidebar-primary: oklch(0.205 0 0);

    --sidebar-primary-foreground: oklch(0.985 0 0);

    --sidebar-accent: oklch(0.97 0 0);

    --sidebar-accent-foreground: oklch(0.205 0 0);

    --sidebar-border: oklch(0.922 0 0);

    --sidebar-ring: oklch(0.708 0 0);
}


.dark {
    --color-bg-root: #1b1b1b;
    --color-bg-canvas: #222222;
    --color-bg-surface: #353434;
    --color-bg-inverse: #F5F5F5;
    --color-bg-gray-surface: color-mix(var(--color-gray-300) 20%, transparent);

    --color-border-color: #595959;
    --color-border-color-inverse: #F5F5F5;
    --color-bg-theme-color: #1A1A1A;
    --color-button-color: #f5f5f5;
    --color-primary-text: #F5F5F5;
    --color-secondary-text: #d1d5db;
    --color-primary-text-inverse: #1A1A1A;
    --color-tertiary-text: #9E9E9E;
    --color-empty-state: #808080;
    --icon-filter: invert(0);

    --background: oklch(0.145 0 0);

    --foreground: oklch(0.985 0 0);

    --card: oklch(0.205 0 0);

    --card-foreground: oklch(0.985 0 0);

    --popover: oklch(0.205 0 0);

    --popover-foreground: oklch(0.985 0 0);

    --primary: oklch(0.922 0 0);

    --primary-foreground: oklch(0.205 0 0);

    --secondary: oklch(0.269 0 0);

    --secondary-foreground: oklch(0.985 0 0);

    --muted: oklch(0.269 0 0);

    --muted-foreground: oklch(0.708 0 0);

    --accent: oklch(0.269 0 0);

    --accent-foreground: oklch(0.985 0 0);

    --destructive: oklch(0.704 0.191 22.216);

    --border: oklch(1 0 0 / 10%);

    --input: oklch(1 0 0 / 15%);

    --ring: oklch(0.556 0 0);

    --chart-1: oklch(0.87 0 0);

    --chart-2: oklch(0.556 0 0);

    --chart-3: oklch(0.439 0 0);

    --chart-4: oklch(0.371 0 0);

    --chart-5: oklch(0.269 0 0);

    --sidebar: oklch(0.205 0 0);

    --sidebar-foreground: oklch(0.985 0 0);

    --sidebar-primary: oklch(0.488 0.243 264.376);

    --sidebar-primary-foreground: oklch(0.985 0 0);

    --sidebar-accent: oklch(0.269 0 0);

    --sidebar-accent-foreground: oklch(0.985 0 0);

    --sidebar-border: oklch(1 0 0 / 10%);

    --sidebar-ring: oklch(0.556 0 0);
}


@theme {
    --color-bg-root: var(--bg-root);
    --color-bg-canvas: var(--bg-canvas);
    --color-bg-surface: var(--bg-surface);
    --color-bg-inverse: var(--bg-inverse);
    --color-border-color: var(--border-color);
    --color-border-color-inverse: var(--border-color-inverse);
    --color-primary-text: var(--primary-text);
    --color-primary-text-inverse: var(--primary-text-inverse);
    --color-secondary-text: var(--secondary-text);
    --color-tertiary-text: var(--tertiary-text);
    --color-empty-state: var(--empty-state);
    --color-bg-gray-surface: var(--bg-gray-surface);
    --color-bg-theme-color: var(--bg-theme-color);
    --color-button-color: var(--button-color);
    --icon-filter: var(--icon-filter);
    
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);

    --font-sans: 'Inter Variable', sans-serif;
    --font-heading: var(--font-sans);
}


html, body{
    background-color: var(--color-bg-root);
    width: 100%;
    transition: background-color 0.2s ease;
}

#root {
    background-color: var(--color-bg-root);
    transition: background-color 0.2s ease;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}